{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %} - {{block.super}}{% endblock %}

{% block content %}
  {% load comments %}
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if form.errors %}
    <h1>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% else %}
    <h1>{% trans "Preview your comment" %}</h1>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <div>
      {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> {% trans "or make changes" %}:
      </div>
    {% endif %}
    {% for field in form.visible_fields %}
    {% if forloop.first %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% endif %}
    {% if field.name == 'comment' or field.name == 'honeypot' %}
    <div class="fieldbox {% ifequal field.name 'honeypot' %}hidden{% endifequal %}">
        {% if field.errors %}<div class="errors"><ul>{{field.errors}}</ul></div>{% endif %}
        <div class="label">{{field.label_tag}}:</div>
        <div class="field">{{field}}</div>
        <div class="help_text">{{field.help_text}}</div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="submit">
    <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
    <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
    </div>
    {% if next %}
    <div>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    {% endif %}

  </form>
{% endblock %}
