recursive-include dblog/urls *
recursive-include dblog/migrations *
recursive-include dblog/templates *
recursive-include dblog/templatetags *
recursive-include dblog/fixtures *
recursive-include dblog/locale *
