{% extends DBLOG_TEMPLATE|default:"base.html" %}
{% load i18n %}

{% block breadcrumb %}
    <ul class='breadcrumb'>
        {% if request.path != '/' %}
            <li><a href="/">{% trans "Home" %}</a> <span class="divider">/</span></li>
        {% endif %}
        <li><a href="{% url 'post:promoted' %}">{% trans "Blogs" %}</a> <span class="divider">/</span></li>
        <li>
            {% if object %}
                {% trans "Edit blog" %}
            {% else %}
                {% trans "Create blog" %}
            {% endif %}
        </li>
    </ul>
{% endblock %}


{% block content %}
<form action="." method="post" class='blog-form'>
{% include 'dblog/form.html' %}
</form>
{% endblock %}