{% csrf_token %}
{% for field in form.visible_fields %}
    {% if forloop.first %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% endif %}
    <p>
    {% if field.errors %}<div class="errors"><ul>{{field.errors}}</ul></div>{% endif %}
    <div class="label">{{field.label_tag}}:</div>
    <div class="field">{{field}}</div>
    <div class="help_text">{{field.help_text}}</div>
{% endfor %}
<div class="submit">
    <input type="submit" />
    <input type="reset" />
</div>